@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap%27');
@import './config.css';

* {
  font-family: 'Roboto';
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--dark-color);
}

.header {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 30vh;
  margin-bottom: 150px;
  background-color: var(--white-color);
  border-radius: 0 50px 50px 50px;
}

.complete-header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--white-color);
  height: 6.5vh;
  z-index: -1;
}

.header-title {
  font-size: 50px;
  position: absolute;
  left: 0%;
  color: var(--dark-color);
  top: 25%;
  margin-left: 30px;
}

.task {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  height: 150px;
  margin: 40px 0 20px 130px;
  color: var(--dark-color);
  background-color: var(--main-color);
  border-radius: 12px;
}

.isTaskDone {
  width: 20px;
  height: 20px;
  background-color: var(--dark-color);
}

.addTask {
  position: relative;
  cursor: pointer;
  right: 45%;
  top: 65%;
  display: block;
  margin-bottom: 100px;
  border: none;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  background-color: var(--main-color);
}

.addTaskForm {
  position: relative;
  left: 45%;
  background-color: var(--dark-color);
  display: flex;
  border-radius: 16px;
  width: 175px;
  height: 200px;
  margin-bottom: 170px;
}

.task-description {
  display: inline;
  position: absolute;
  float: left;
  margin-top: 100px;
  margin-left: 65px;
}

.deleteTaskButton {
  display: inline;
  color: var(--dark-color);
  position: absolute;
  float: right;
  left: 95%;
}

#beforeYesterDay {
  font-size: 40px;
  color: rgb(240,240,247);
  position: absolute;
  left: 12%;
  top: 8%;
}

#yesterDay {
  font-size: 80px;
  color: rgb(200, 200, 207);
  position: absolute;
  left: 25%;
  top: 13%;
}

#todayDate {
  font-size: 100px;
  color: var(--dark-color);
  position: absolute;
  left: 45%;
  top: 20%;
}

#afterTomorrow {
  font-size: 40px;
  color: rgb(240,240,247);
  position: absolute;
  left: 83%;
  top: 8%;
}

#tomorrow {
  font-size: 80px;
  color: rgb(200, 200, 207);
  position: absolute;
  left: 70%;
  top: 13%;
}

.helper-text {
  color: var(--dark-color)
}

.login-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.helper-text {
  color: var(--main-color)
}

.auth-title {
  color: var(--main-color)
}

.auth-input {

  background-color: inherit !important;
  text-align: center !important;
  border-style: hidden hidden groove hidden !important;
  outline: none !important;
  border-color: rgba(227,	62,	87, 0.5) !important;
  font-size: 1rem !important;
  width: 12rem !important;
  color: rgba(227,	62,	87, 0.5) !important;
}

.auth-input:hover {
  border-color: rgba(227,	62,	87, 1) !important;
  color: rgba(227,	62,	87, 1) !important;
}

.auth-input:focus {
  border-color: rgba(227,	62,	87, 1) !important;
  color: rgba(227,	62,	87, 1) !important;
}

.text {
  color: var(--main-color);
  font-size: 1rem;
  margin-top: 1.5rem;
}

.footer-auth {
  display: flex;
  width: 35%;
  justify-content: space-around;
}